<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta http-equiv="refresh" content="10">-->
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/chart.js"></script>
</head>
<body>
<div style="widht: 400px; hight: 200px">
    <canvas id="myChart" width="400" height="200"></canvas>
</div>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{axis}},
        datasets: [{
            label: '# of Votes',
            data: {{data}},
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

</body>
</html>