<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
{{len}}
<!--<p><a href="/chart/617bf0a5f659f75086bdc1d1">617bf0a5f659f75086bdc1d1</a></p>-->
<!--<p><a href="/chart/617bf317f659f75086bdc1d3">617bf317f659f75086bdc1d3</a></p>-->
{%for i in range (0,len) %}
<p><a href="/chart/{{ids[i]}}">id: {{ids[i]}}</a></p>
{%endfor%}
</body>
</html>